body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Common Style Variables */

  /* Color */
  --color-cornflowerblue: #7db8ff;
  --color-lightskyblue: #75d5ff;
  --color-white: #fff;

  /* Padding */
  --padding-0: 0px;

  /* Font */
  --font-huiwen-mincho: Huiwen-mincho;

  /* WidthHeights */
  --height-20: 20px;
  --height-30: 30px;
}
